<head>
<meta charset="utf-8" />
</head>
<div class="border-end bg-white" id="sidebar-wrapper">
	<div class="sidebar-heading border-bottom bg-light">Nutrição</div>
	<div class="list-group list-group-flush">
			 <a
			class="list-group-item list-group-item-action list-group-item-light p-3"
			href="/pacientes/crud/acessar"> <i class="bi bi-person-lines-fill"></i>
			Pacientes
		</a> <a
			class="list-group-item list-group-item-action list-group-item-light p-3"
			href="/consultas"><i class="bi bi-calendar"></i> Agenda</a>
			
			
			<a
			class="list-group-item list-group-item-action list-group-item-light p-3"
			href="/usuario/acessar"><i class="bi bi-person-circle"></i> Perfil</a>
<!-- 			 <a -->
<!-- 			class="list-group-item list-group-item-action list-group-item-light p-3" -->
<!-- 			href="#!">Events</a> <a -->
<!-- 			class="list-group-item list-group-item-action list-group-item-light p-3" -->
<!-- 			href="#!">Profile</a> <a -->
<!-- 			class="list-group-item list-group-item-action list-group-item-light p-3" -->
<!-- 			href="#!">Status</a> -->
	</div>
	
</div>