<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}" />

<title>Dieta Paiente</title>
<!-- Favicon-->
<!-- Core theme CSS (includes Bootstrap)-->
<!-- <link href="css/styles.css" th:href="@{/css/styles.css}" -->
<!-- 	rel="stylesheet" /> -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->

<div th:insert="parts/importcss"></div>

</head>
<body>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div th:insert="parts/sidebar"></div>

		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<div th:insert="parts/topnavigation"></div>

			<!-- Page content-->
			<div class="container-fluid">
				<div class="titulo">
					<a th:href="@{/pacientes/crud/{id}(id=${paciente})}"><button
							class="btn btn-primary mt-3">
							<i class="bi bi-arrow-left-square"></i>
							
							VOLTAR
							
							</button></a>

					<h1>
						DIETA <span th:text="${paciente}" id="paciente" />
					</h1>
				</div>
				<form id="formulario_refeicao"
					th:action="@{/dietas/{id}(id=${paciente})}" method="post"
					th:object="${refeicao}">
					<div class="refeicoes mt-3">
						<div class="form-row">
							<div class="form-group">
								<label for="nomerefeicao" class="form-label">Nome: </label>

							</div>
							<div class="form-group">
								<input id="nome" name="nome" type="text" class="form-control">
							</div>
						</div>
						<div class="form-group col-md-2 mt-1 form-row">
							<label for="horario" class="form-label">Horário: </label> <input
								id="horario" type="text" name="horario" class="form-control">

						</div>
						<div class="mt-2" id="alerta"></div>

						<button class="btn btn-primary mt-2" onclick="novaRefeicao()"
							type="button">
							<i class="bi bi-patch-plus"></i> Nova Refeição
						</button>

					</div>
				</form>
				<table class="table w-100" id="tabelarefeicao-header"
					style="width: 50%; height: 100px; overflow: scroll; margin-top: 2em">
					<thead>
						<th style="width: 10%">HORÁRIO</th>
						<th>NOME</th>
						<th>CALORIA</th>

						<th>PROTEINA</th>
						<th>CARBOIDRATO</th>
						<th>GORDURA</th>

					</thead>

					<tbody id="tabelarefeicao">


					</tbody>
				</table>

			</div>
		</div>
	</div>



	<div class="modal fade" id="modalRefeicao" aria-hidden="true"
		aria-labelledby="exampleModalToggleLabel" tabindex="-1">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalToggleLabel">
						Refeição - <span id="nome_refeicao_selecionada"></span> <span
							id="horario_refeicao_selecionada"></span>
					</h5>
<!-- <table class="table table-bordered w-50 ml-2"> -->
<!-- 								<th>CALORIAS</th> -->
<!-- 								<th>PROTEINAS</th> -->
<!-- 								<th>CARBOIDRATOS</th> -->
<!-- 								<th>GORDURAS</th> -->
<!-- 								<tbody> -->
<!-- 									<td id="caloriarefeicao"></td> -->
<!-- 									<td id="proteinarefeicao"></td> -->
<!-- 									<td id="carboidratorefeicao"></td> -->
<!-- 									<td id="gordurarefeicao"></td> -->

<!-- 								</tbody> -->
<!-- 							</table> -->
<!-- 					<button class="btn btn-danger  mx-sm-3 mb-2" -->
<!-- 						onclick="deleteRefeicao()">Remover Refeição</button> -->

					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>

				</div>
				<div class="modal-body" style="height: 50vh; overflow: scroll">

					<div class="pesquisa">
						<form class="form-inline">

							<div class="form-group mx-sm-3 mb-2">
								<label for="nomepesquisa" class="sr-only">Pesquisar: </label> <input
									type="text" class="form-control" id="nomepesquisa"
									placeholder="Alimento...">
							</div>
							<button type="button" onclick="findAllAlimentosByNome()"
								class="btn btn-primary mb-2" style="margin-left: 1em">Pesquisar</button>


						</form>

						<div class="tabelapaginacao">
							<table class="table buscaalimentostabela mt-2"
								style="margin-bottom: 1em;">
								<thead>
									<th>NOME</th>
									<th>PORÇÃO</th>
									<th>CAL</th>
									<th>P</th>
									<th>C</th>
									<th>G</th>


								</thead>
								<tbody id="tabelaalimentos">

								</tbody>
							</table>

							<div class="paginacao_alimentos" id="paginacao_alimentos"></div>

						</div>

						<div class="form-group mx-sm-3 mb-2 mt-3" style="width: 10em;">
							<input type="text" class="form-control mx-sm-1"
								readonly="readonly" id="alimentoselecionado"
								placeholder="Selecione um alimento"> <input
								id="alimentoselecionadoid" type="hidden"> <input
								type="text" class="form-control mx-sm-1 mt-1 "
								readonly="readonly" id="quantidade" placeholder="Quantidade...">
							<button type="button" onclick="adicionarAlimentoRefeicao()"
								class="btn btn-primary mb-2 form-control mx-sm-1 mt-1">Pronto</button>

						</div>
						<div id="alertamodal"></div>
						</div>

							
							<!-- 							<p id="caloriarefeicao"></p> -->
							<!-- 							<p id="proteinarefeicao"></p> -->
							<!-- 							<p id="carboidratorefeicao"></p> -->
							<!-- 							<p id="gordurarefeicao"></p> -->
						<table id="tabelaalimentosrefeicao-tabela" class="table"
							>
							<thead>
								<th style="width: 30%">Alimento</th>
								<th style="width: 10%">Quantidade</th>
								<th style="width: 10%">Cal</th>
								<th style="width: 10%">P</th>
								<th style="width: 10%">C</th>
								<th style="width: 10%">G</th>

								<th style="width: 10%"><i class='bi bi-trash-fill'></i></th>

							</thead>
							<tbody id="tabelaalimentosrefeicao"></tbody>
						</table>
					


				</div>





				<div class="modal-footer">

					<button class="btn btn-primary"
						data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
						data-bs-dismiss="modal">Open second modal</button>
				</div>


			</div>

		</div>
	</div>

	<input type="hidden" id="refeicaoselecionadaid">

	<!-- Bootstrap core JS-->
	<div th:insert="parts/scripts"></div>

	<script>
		flatpickr("#horario", {
			enableTime : true,
			noCalendar : true,
			dateFormat : "H:i",
			time_24hr : true
		});
		var id;
		window.onload = function() {
			  // Your code here

			id=$("#paciente").html();
		
			  
			findAllRefs();
			  
		};
		
		function findAllRefs(){
			$.get('/dietas/'+id+"/crud").done(function(response) {
				var lista_refeicoes=JSON.parse(response);
				incrementarTabela(lista_refeicoes);
			}).fail(function(xhr) {
				tratarErro(xhr);
			});
		}
		
		
		function novaRefeicao() {
			var refeicao={
					
					nome:$("#nome").val(),

					horario:$("#horario").val(),
					
			};
			console.log("Refeicao adicionada => "+refeicao);
			if (refeicao.nome.trim() != '' && refeicao.horario.trim() != '') {
					
					$.ajax({
					  url: "/refeicao/nova/"+id,
					  type: "POST",
					  data: JSON.stringify(refeicao),
					  contentType: "application/json",
					}).done(function(response,status,xhr) {
					
					if (xhr.status===200){
						limparFormulario("formulario_refeicao");
						sucesso("Refeição criada com sucesso.")
						findAllRefs();
					}
					
				}).fail(function(xhr) {
					tratarErro(xhr);
				});
			}else{
				alertar("Preencha todos os campos")
			}
		}
		
		
		
		
		
		function incrementarTabela(lista){
			$("#tabelarefeicao").html('');
			console.log(lista);
			if (lista.length===0){
				$("#tabelarefeicao-header").hide();
			}else{
				$("#tabelarefeicao-header").show();

			}
			lista.forEach((e)=>{
				var tudo="<td>"+e.horario+"</td>";
				tudo+="<td>"+e.nome+"</td>";
				tudo+="<td>"+e.caloria+"</td>";
				tudo+="<td>"+e.proteina+"</td>";
				tudo+="<td>"+e.carboidrato+"</td>";
				tudo+="<td>"+e.gordura+"</td>";

				tudo+="<td><button onclick='findRef("+e.id+")' data-bs-target='#modalRefeicao' data-bs-toggle='modal' class='btn'><i class='bi bi-pencil-fill'></i></button></td>"
				$("#tabelarefeicao").append("<tr>"+tudo+"</tr>");
				

			})
		}
		function incrementarTabelaAlimentos(lista){
			$("#tabelaalimentos").html('');
			console.log(lista.length)
			console.log('incrementando tabela...')
			lista.forEach((e)=>{
				var tudo="<td>"+e.nome+"</td>";
				tudo+="<td>"+e.porcao+"</td>";
				tudo+="<td>"+e.caloria+"</td>";
				tudo+="<td>"+e.proteina+"</td>";
				tudo+="<td>"+e.carboidrato+"</td>";
				tudo+="<td>"+e.gordura+"</td>";
				$("#tabelaalimentos").append(`<tr onclick="findAlimentoById(${e.id})">${tudo}</tr>`)
				
				
				
		})
	}
		function incrementarTabelaAlimentosRefeicao(lista){
			$("#tabelaalimentosrefeicao").html('');
			
			if (lista.length==0){
				$("#tabelaalimentosrefeicao-tabela").hide();

			}else{
				$("#tabelaalimentosrefeicao-tabela").show();
			}
			lista.forEach((e)=>{
				var tudo="<td>"+e.nome+"</td>";
				tudo+="<td>"+e.quantidade+"</td>";
				tudo+="<td>"+e.caloria+"</td>";
				tudo+="<td>"+e.proteina+"</td>";
				tudo+="<td>"+e.carboidrato+"</td>";
				tudo+="<td>"+e.gordura+"</td>";
				tudo+="<td><button onclick='removerAlimento("+e.id+")'  class='btn'><i class='bi bi-trash'></i></button></td>"
				$("#tabelaalimentosrefeicao").append("<tr>"+tudo+"</tr>")
				
				
				
		})
	}
		
		function adicionarAlimentoRefeicao(){
			var alimento=$("#alimentoselecionadoid").val();
			var quantidade=$("#quantidade").val();
			var refeicao=$("#refeicaoselecionadaid").val();
			var ali={
					alimento: $("#alimentoselecionadoid").val(),
					quantidade: $("#quantidade").val(),
			};
			
				if (alimento.trim() != '') {
				console.log("Fazendo a requisição")
// 				$.post('/refeicao/'+refeicao, ali,{
// 					  contentType: 'application/json'
// 				}).
				$.ajax({
					  url: "/refeicao/"+refeicao,
					  type: "POST",
					  data: JSON.stringify(ali),
					  contentType: "application/json",
					}).done(function(response) {
					findRef();
				}).fail(function(xhr) {
					tratarErro(xhr,"alertamodal");
				});
			}
		}
		
		function findAlimentoById(id){
			$.get('/alimentos/crud/id/'+id).done(function(response) {
				var elemento=JSON.parse(response);
				
				$("#alimentoselecionado").val(elemento.nome);
				$("#quantidade").removeAttr("readonly");
				$("#alimentoselecionadoid").val(id);
			}).fail(function(xhr) {
				tratarErro(xhr);
			});
		}
		function findAllAlimentos(pagina){
			var param='';
			if (pagina!==undefined){
				param='?page='+pagina;
			}
			
			
			$.get('/alimentos/crud'+param).done(function(response) {
				var page=JSON.parse(response);
				
				console.log(page);
				incrementarTabelaAlimentos(page.content);
				paginacao("paginacao_alimentos",page,"findAllAlimentos");
				
			}).fail(function(xhr) {
				tratarErro(xhr);
			});
			
		}
		
		function findAllAlimentosByNome(pagina){
			var nome=document.getElementById("nomepesquisa").value;
			var param='';
			if (pagina!==undefined){
				param='?page='+pagina;
			}
			console.log(nome);
			if (nome.trim()===''){
				findAllAlimentos(pagina)
				return;
			}
			$.get('/alimentos/crud/'+nome+param).done(function(response) {
				var page=JSON.parse(response);
				console.log(page);
				console.log(response);
				incrementarTabelaAlimentos(page.content);
				
				paginacao("paginacao_alimentos",page,"findAllAlimentosByNome");

			}).fail(function(xhr) {
				tratarErro(xhr);
			});
			
		}
		
		$('#modalRefeicao').on('hidden.bs.modal', function () {
			findAllRefs();
			});
		function findRef(refeicao){
			if (refeicao == undefined){
				refeicao=$("#refeicaoselecionadaid").val();
			}else{
				$("#refeicaoselecionadaid").val(refeicao);

			}
			
			$.get('/refeicao/'+refeicao).done(function(response) {
				var refeicao=JSON.parse(response);

				$("#nome_refeicao_selecionada").html(refeicao.nome);
				$("#horario_refeicao_selecionada").html(refeicao.horario);
				console.log(refeicao);
				findAllAlimentos();
				
				
				incrementarTabelaAlimentosRefeicao(refeicao.alimentos);
				
				var caloria=0;
				var proteina=0;
				var carboidrato=0;
				var gordura=0;
				
				refeicao.alimentos.forEach((e)=>{
					caloria+=e.caloria;
					proteina+=e.proteina;
					carboidrato+=e.carboidrato;
					gordura+=e.gordura;
				})
				$("#caloriarefeicao").html(caloria);
				$("#proteinarefeicao").html(proteina);
				$("#carboidratorefeicao").html(carboidrato);
				$("#gordurarefeicao").html(gordura);

				console.log(caloria+" "+proteina+" "+carboidrato+" "+gordura)

				
			}).fail(function(xhr) {
				tratarErro(xhr);
			});
		
		}
		
		function removerAlimento(alimento){
			
			$.ajax({
				  url: '/refeicao/alimento/'+alimento,
				  type: 'DELETE',
				  success: function(result) {
						findRef();
				  },
				  error: function(xhr, status, error) {
						tratarErro(xhr);
				  }
				});
		}
		function deleteRefeicao(){
			var refeicao=$("#refeicaoselecionadaid").val();
			$.ajax({
				  url: '/refeicao/'+refeicao,
				  type: 'DELETE',
				  success: function(result) {
					alert("Refeicao deletada")
					$("#modalRefeicao").modal('hide');
					findAllRefs();
				  },
				  error: function(xhr, status, error) {
						tratarErro(xhr);
				  }
				});
		}
		
	</script>
</body>
</html>
