<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>NUTRICAO</title>
<!-- Favicon-->
	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}" />
<!-- Core theme CSS (includes Bootstrap)-->
<div th:insert="parts/importcss"></div>


<style>

.fluido-centro{
	justify-content:center !important;
}
</style>
</head>

<body>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		              <div th:include="parts/sidebar"></div>
		
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
						<div th:include="parts/topnavigation"></div>
			
			<!-- Page content-->
			<div class="container-fluid fluido-centro" >
				<div class="esquerda-index">
				<h1 class="mt-4">Seja Bem-Vindo</h1>
				<p>Hoje você tem um <b id="nconsultas"></b> consulta(s) agendada(s) para hoje. Veja mais em consultas.</p>
				<div id="mensagem"></div>
				
				</div>
<!-- 				<div id="direita-index"> -->
<!-- 				<img src="/img/nutricionista-notebook.jpg" id="fotoindex1" class="fotos-index"> -->
<!-- 				</div> -->
			</div>
		</div>
	</div>
	<!-- Bootstrap core JS-->
	<div class="modal" id="modalAgenda" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alterar o status da consulta</h5>
<!--         <button type="button"onclick="$('#modalAgenda').modal('hide')" class="close" data-dismiss="modal" aria-label="Close"> -->
<!--           <span aria-hidden="true">&times;</span> -->
<!--         </button> -->
      </div>
      <div class="modal-body">
        <p>A consulta foi cancelada ou finalizada ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="realizada()">Consulta Finalizada</button>
                <button type="button" class="btn btn-warning" onclick="cancelar()">Consulta Cancelada</button>
        
        <button type="button" class="btn btn-secondary" onclick="$('#modalAgenda').modal('hide')" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
	
	
		<div th:include="parts/scripts"></div>


<script>
var consulta_para_editar=-1;

$(document).ready(function(){
	buscar();	
})
function editarConsulta(id){
	$('#modalAgenda').modal('show');
	consulta_para_editar=(id);
}
function buscar() {

	var data=formatarData();
	var dataparam = "?data=" + data;
	$.get('/consultas/agendadas' + dataparam).done(function(response) {
		console.log(response);
		var lista=JSON.parse(response);
		$("#nconsultas").html(lista.length)
		
		if (lista.length>0){
			$("#mensagem").html(`<p>Os pacientes que você vai encontrar hoje são : <div id="pessoas"></div></p>`);
			lista.forEach((e)=>{
				var minutos=0;
				var x=minutos_faltando(e.horario);
				if (x>0){
					minutos="Daqui à "+Math.floor(x) +" minutos";
				}else{
					minutos="Passaram "+Math.floor(-1*x)+ " minutos";
				}
				var botao=`<button onclick="editarConsulta(${e.id})" class="btn"><i class="bi bi-pencil-fill"></i></button>`;
				$("#pessoas").append(`<p><span><a href="/pacientes/crud/${e.paciente.id}">${e.paciente.nome}</a></span>
				(${e.horario.split(' ')[1]} horas - ${minutos}) - ${e.status} ${botao}</p>`)
			})
		}
		
	}).fail(function(xhr) {
		tratarErro(xhr);
	});
}

function realizada(id){
	alert(id);
	buscar();
	$.ajax({
		  url: '/consultas/realizada/'+consulta_para_editar,
		  type: 'PUT',
		  success: function(result) {
			alert(result);
			buscar();
		  },
		  error: function(xhr, status, error) {
				tratarErro(xhr);
		  }
		});
}

function cancelar(){
	$.ajax({
		  url: '/consultas/cancelada/'+consulta_para_editar,
		  type: 'PUT',
		  success: function(result) {
			alert(result);
			buscar();
		  },
		  error: function(xhr, status, error) {
				tratarErro(xhr);
		  }
		});
}
</script>

</body>
</html>
