<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}" />

<title>Pacientes</title>
<!-- Favicon-->
<div th:insert="parts/importcss"></div>
<style>

@media only screen and (max-width: 765px) {
  /* For mobile phones: */
 img{
		display:none !important;
	}
	.foto{
	
		display:none;
	}
	
}


</style>
</head>
<body>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div th:include="parts/sidebar"></div>

		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<div th:include="parts/topnavigation"></div>

			<!-- Page content-->
			<div class="container-fluid">
				<div class="titulo">
				<h1 >
					<i class="bi-people"></i> Pacientes
				</h1>
				</div>
				<button class="btn btn-success" data-bs-target="#modalCadastro"
					data-bs-toggle="modal">
					<i class="bi bi-patch-plus"></i> Novo
				</button>



				<table class="table mt-2 tabela-pacientes" style="display:none;"
					id="tabela-lista-pacientes">
					<thead>
						<th class="foto">FOTO</th>
						<th>NOME</th>
						<th>TELEFONE <i class="bi bi-telephone-fill"></i>
						</th>
						<th>PERFIL</th>
						<th>REMOVER</th>
					</thead>

					<tbody>

					</tbody>






				</table>
				<div id="paginacao-todos-pacientes"></div>
			</div>
		</div>
	</div>






	<div class="modal fade" id="modalCadastro" aria-hidden="true"
		aria-labelledby="exampleModalToggleLabel" tabindex="-1">
		<div class="modal-dialog modal-lg" >
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalToggleLabel">Novo
						Paciente</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body ">

					<form th:action="@{/pacientes/crud/salvar}"
						id="formulario_paciente">

								
								
								<div class="form-group">
										<img src="/img/semperfil-foto.png"  id="foto-perfil-preview">
										<canvas id="canvas-imagem" style="display: none;"></canvas>
										
								</div>
				<div class="row">
						<div class="form-group ">
							<label for="foto">FOTO</label> <input type="file"
								class="form-control col-md-12"  id="foto" 
								name="foto" onchange="pegarImg()">
						</div>
					</div>
								
								
								

						<div class="row">
							<div class="form-group ">
								<label for="nome">Nome</label> <input type="text"
									class="form-control" id="nome" name="nome" placeholder="nome">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-3">
								<label for="endereco">Endereco</label> <input type="text"
									class="form-control" id="endereco" name="endereco"
									placeholder="Endereco...">
							</div>

							<div class="form-group col-md-3">
								<label for="cpf">CPF</label> <input type="text"
									class="form-control" id="cpf" name="cpf" placeholder="cpf">
							</div>
							<div class="form-group col-md-5">
								<label for="dataDeNascimento">Data De Nacimento</label> <input
									type="text" class="form-control" id="dataDeNascimento"
									name="dataDeNascimento">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-5">
								<label for="telefone">Telefone</label> <input type="text"
									class="form-control" name="telefone" id="telefone"
									placeholder="telefone">
							</div>

						</div>
						<div class="row">
							<div class="form-group">
								<label for="descricao">Descrição</label>
								<textarea type="text" class="form-control" name="descricao"
									rows="3" id="descricao" placeholder="descricao"></textarea>
							</div>

						</div>

						<div class="mt-2" id="alerta"></div>
						<button type="button" onclick="salvarPaciente()"
							class="btn btn-primary mt-2" style="margin-top: 20px">Salvar</button>
							<button class="btn btn-primary mt-2"
						
						onclick="limparTudo()">Limpar Formulario</button>
					</form>
				</div>
				<div class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JS-->
	<div th:include="parts/scripts"></div>
	<script>
	flatpickr("#dataDeNascimento", {
		dateFormat : "d/m/Y"
	});
	
	$(document).ready(function(){
		listarPacientes();	
	})
	
	function limparTudo(){
		$("#descricao").val('');
		limparFormulario("formulario_paciente");
		$("#foto-perfil-preview").attr('src','/img/semperfil-foto.png');

		
	}
	function pegarImg(){
			var foto=$("#foto")[0].files[0];
			var reader=new FileReader();
			var tamanhoMB=foto.size/1_000_000;
			if (tamanhoMB>1){
				error("A imagem não pode pesar mais de 1 MB.");
				$("#foto").val('');
				return;
			}
			reader.onload=function(event){
				var base64String = event.target.result;
				
				$("#foto-perfil-preview").attr('src',base64String);
			};
			
			reader.readAsDataURL(foto);
			
			
			
			
			
		}
	
		function salvarPaciente() {
			var paciente = {
				nome : $("#nome").val(),
				foto : $("#foto-perfil-preview").attr('src'),
				descricao:$("#descricao").val(),
				telefone : $("#telefone").val(),
				cpf : $("#cpf").val(),
				endereco : $("#endereco").val(),
				dataDeNascimento : $("#dataDeNascimento").val(),
			};
			if (paciente.nome.trim()!='' 
					&& paciente.descricao.trim()!=''
					&& paciente.telefone.trim()!='' 
					&& paciente.cpf.trim()!='' 
					&& paciente.dataDeNascimento.trim()!=''
					&& paciente.endereco.trim()!=''){
// 			$.post('/pacientes/crud', JSON.stringify(paciente)).done(function(response) {
				
				$.ajax({
					  url: "/pacientes/crud",
					  type: "POST",
					  data: JSON.stringify(paciente),
					  contentType: "application/json",
					}).done(function(response,status,xhr) {
						
						responseCheck(xhr);
				if (xhr.status===201){
					limparTudo();
					sucesso("Paciente salvo com sucesso.")
					
				}
				
				
			}).fail(function(xhr) {
				alert("Erro ao salvar o paciente: " + xhr.responseText);
			});
			}else{
				alertar("Preencha todos os campos.")
			}
		}
		function reduzirImagem(image) {
			
		    const canvas = document.getElementById('canvas-imagem');

			const ctx = canvas.getContext('2d');

			const novaLargura=200;
			const novaAltura=150;
			
			canvas.width=novaLargura;
			canvas.height=novaAltura;
		    ctx.drawImage(image, 0, 0, novaLargura, novaAltura);
		    
		    const dataURL = canvas.toDataURL();

		    const novaImagem = new Image();
// 		    novaImagem.src = dataURL;
			console.log(dataURL);
		}

			
		function listarPacientes(page) {
			var parampagina='';
			
			if (page != undefined){
				parampagina='?page='+page;
			}
			
			$.get('/pacientes/crud'+parampagina).done(function(response,status,xhr) {
				  	responseCheck(xhr);
					var pageData=JSON.parse(response);
					
					fillTable(pageData);
					if (!pageData.isEmpty){
						paginacao('paginacao-todos-pacientes', pageData, 'listarPacientes')	

					}
				
			}).fail(function(xhr) {
				alert("Erro ao salvar o paciente: " + xhr.responseText);
			});
		}
		
		function fillTable(pageData){
			if(pageData.empty){
				$("#tabela-lista-pacientes").hide();
				
				return;
			}
			$("#tabela-lista-pacientes").show();
			$("#tabela-lista-pacientes > tbody").html('');

			pageData.content.forEach((e)=>{

				var column='';

				if (e.foto!=null){
					column+=`<td class="foto"><img src="${e.foto}"/></td>`
				}else{
					column+=`<td class="foto"><img src="/img/semperfil-foto.png"/></td>`
				}
				
				column+=`<td>${e.nome}</td>`;
				column+=`<td>${e.telefone}</td>`;

				column+=`<td><a href="/pacientes/crud/${e.id}">
					
					<i class="bi bi-person-circle"></i>

					</a></td>`;

				column+=`<td><button onclick="deletar_paciente(${e.id})" class="btn">
					
					<i class="bi bi-trash-fill"></i>
					
					
					</button></td>`;
					$("#tabela-lista-pacientes>tbody").append(`<tr>${column}</tr>`)
					$("#tabela-lista-pacientes").show();


			})
			
			
		}
		
		function deletar_paciente(paciente){
			
			if (confirm("Tem certeza que deseja remover o paciente?")) {
					$.ajax({
						  url: '/pacientes/crud/'+paciente,
						  type: 'DELETE',
						  success: function(result) {
							alert("Paciente Removido")
							listarPacientes();
						  },
						  error: function(xhr, status, error) {
							  console.log(xhr);
							  alert(xhr.responseText)
								tratarErro(xhr);
						  }
						});
				}
		}
			
	</script>

</body>


</html>
