<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}" />

<title>Perfil</title>
<!-- Favicon-->

<style>
@media only screen and (max-width: 780px) {
  /* For mobile phones: */
 img{
		width:100px !important;
		margin-left:6em;
	}
	
}





</style>
<div th:insert="parts/importcss"></div>
</head>
<body>

	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div th:include="parts/sidebar"></div>

		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<div th:include="parts/topnavigation"></div>
			<!-- Page content-->
			<div class="container-fluid">



				<div class="titulo">
					<h1 class="mt-4">Perfil do Usuário</h1>
				</div>
				
				<form id="formulario_paciente">
					<div class="row">
						<div class="form-group">
							<img src="/img/semperfil-foto.png" th:src="${usuario.foto}"
								id="foto-perfil-preview">
						</div>
					</div>
					<div class="row">
						<div class="form-group ">
							<label for="foto">FOTO</label> <input type="file"
								class="form-control col-md-2" id="foto" name="foto"
								onchange="pegarImg()">
						</div>
					</div>




					<div class="row">
						<div class="form-group ">
							<label for="nome">Nome</label> <input type="text"
								class="form-control" id="nome" th:value="${usuario.nome}"
								name="nome" placeholder="nome">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="endereco">Endereco</label> <input type="text"
								class="form-control" id="endereco" name="endereco"
								th:value="${usuario.endereco}" placeholder="Endereco...">
						</div>

						<!-- 						<div class="form-group col-md-3"> -->
						<!-- 							<label for="cpf">CPF</label> <input type="text" -->
						<!-- 								class="form-control" id="cpf" name="cpf" placeholder="cpf" th:value="${usuario.cpf}"> -->
						<!-- 						</div> -->
						<!-- 						<div class="form-group col-md-3"> -->
						<!-- 							<label for="dataDeNascimento">Data De Nascimento</label> <input -->
						<!-- 								type="text" class="form-control" id="dataDeNascimento" -->
						<!-- 								name="dataDeNascimento"> -->
						<!-- 						</div> -->
					</div>
					<div class="row">
						<div class="form-group col-md-3">
							<label for="telefone">Telefone</label> <input type="text"
								class="form-control" name="telefone" id="telefone"
								th:value="${usuario.telefone}" placeholder="telefone">
						</div>

					</div>





				</form>
				<div class="mt-2" id="alerta"></div>


				<div class="form-group col-md-3">
					<button type="button" class="btn btn-primary form-control"
						onclick="editarUsuario()">
						<i class="bi bi-save2"></i> Salvar
					</button>
				</div>






			</div>
		</div>
	</div>




	<input type="hidden" id="idusuario" th:value="${usuario.id}">


	<!-- Bootstrap core JS-->
	<div th:include="parts/scripts"></div>

	<script>
		$(document).ready(function() {
			pegarImg();
		})

		function pegarImg() {
			var foto = $("#foto")[0].files[0];
			var reader = new FileReader();
			if (foto=== undefined)
				{
				$("#foto-perfil-preview").attr('src', '/img/semperfil-foto.png');
				return;
				}
			reader.onload = function(event) {
				var base64String = event.target.result;

				$("#foto-perfil-preview").attr('src', base64String);
			};

			reader.readAsDataURL(foto);

		}

		function editarUsuario() {

			var usuario = {
				id : $("#idusuario").val(),
				nome : $("#nome").val(),
				foto : $("#foto-perfil-preview").attr('src'),
				endereco : $("#endereco").val(),
				// 			dataDeNascimento : $("#dataDeNascimento").val(),
				telefone : $("#telefone").val(),
			// 			descricao : $("#descricao").val(),
			// 			cpf : $("#cpf").val(),

			}
			console.log(usuario);
			if (usuario.nome.trim() != '' && usuario.telefone.trim() != ''

			&& usuario.endereco.trim() != '') {
				console.log("Fazendo a requisição")
				// 						$.post('/usuario', usuario).done(function(response) {
				// 							sucesso("Mudanças realizadas");
				// 						}).fail(function(xhr) {
				// 							tratarErro(xhr);
				// 						});

				$.ajax({
					type : 'PUT',
					url : '/usuario',
					contentType : 'application/json',
					data : JSON.stringify(usuario),
					success : function(response) {
						console.log('Requisição PUT bem-sucedida:', response);
						sucesso("Mudanças realizadas");

					},
					error : function(xhr, status, error) {
						console.error('Erro na requisição PUT:', error);
						tratarErro(xhr);

					}
				});

			} else {
				alertar("Preencha todos os campos.")
			}
			console.log(usuario);

		}

		function deleteRefeicao() {
			var refeicao = $("#refeicaoselecionadaid").val();

		}
	</script>
</body>
</html>
