<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Simple Sidebar - Start Bootstrap Template</title>
<!-- Favicon-->
<div th:insert="parts/importcss"></div>
<style>
img{
	border:2px solid black;
}
@media only screen and (max-width: 780px) {
  /* For mobile phones: */
 img{
		width:100px !important;
		margin-left:6em;
	}
	
	.botao-perfil button{
		margin-top:1em !important;
	}
}



</style>


</head>
<body>

	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div th:include="parts/sidebar"></div>

		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<div th:include="parts/topnavigation"></div>
			<!-- Page content-->
			<div class="container-fluid">
				<div class="titulo" >
				
				<a  th:href="@{/pacientes/crud/acessar}" ><button class="btn btn-primary ">VOLTAR</button></a>
				
				<h1 style="text-align:center">
					Perfil do Paciente <i class="bi bi-person-circle"></i> <input
						type="hidden" id="idpaciente" th:value="${paciente.id}"></div>
				</h1>
				<h4> Proxima Consulta : <b><span id="proximaconsulta"></span></b></h4>
				<form th:action="@{/pacientes/crud/salvar}" id="formulario_paciente">
				<div class="row">
				<div class="form-group">
										<img src="/img/semperfil-foto.png" th:src="${paciente.foto}" id="foto-perfil-preview">
				</div>
				</div>
				<div class="row">
						<div class="form-group ">
							<label for="foto">FOTO</label> <input type="file"
								class="form-control col-md-2"  id="foto"
								name="foto" onchange="pegarImg()">
						</div>
					</div>
					
					
					
					
					<div class="row">
						<div class="form-group ">
							<label for="nome">Nome</label> <input type="text"
								class="form-control" th:value="${paciente.nome}" id="nome"
								name="nome" placeholder="nome">
						</div>
					</div>
					<div class="row">
						<div class="form-group md-3">
							<label for="endereco">Endereco</label> <input
								th:value="${paciente.endereco}" type="text" class="form-control"
								id="endereco" name="endereco" placeholder="Endereco...">
						</div>

						<div class="form-group col-md-3">
							<label for="cpf">CPF</label> <input type="text"
								class="form-control" id="cpf" name="cpf"
								th:value="${paciente.cpf}" placeholder="cpf">
						</div>
						<div class="form-group col-md-3">
							<label for="dataDeNascimento">Data De Nascimento</label> <input
								th:value="${paciente.dataDeNascimento}" type="text"
								class="form-control" id="dataDeNascimento"
								name="dataDeNascimento">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-3">
							<label for="telefone">Telefone</label> <input type="text"
								th:value="${paciente.telefone}" class="form-control"
								name="telefone" id="telefone" placeholder="telefone">
						</div>

					</div>
					<div class="row">
						<div class="form-group">
							<label for="descricao">Descrição</label>
							<textarea class="form-control" name="descricao"
								th:value="${paciente.descricao}" th:text="${paciente.descricao}"
								rows="3" id="descricao" placeholder="descricao"></textarea>
						</div>

					</div>




				</form>
				<div class="mt-2" id="alerta"></div>
				<div class="row mt-2 botao-perfil">
					<div class="form-group col-md-3">
						<button type="button" class="btn btn-primary form-control"
							onclick="editarPaciente()"><i class="bi bi-save2"></i> Salvar</button>
					</div>

					<div class="form-group col-md-3">
						<a th:href="@{/dietas/{usuario}(usuario=${paciente.id})}">
							<button type="button" class="btn btn-primary form-control"><i class="bi bi-cup-straw"></i> Ver
								Dieta</button>
						</a>


					</div>
					<div class="form-group col-md-3">
						<a th:href="@{/medicoes/{usuario}(usuario=${paciente.id})}">

							<button type="button" class="btn btn-primary form-control"><i class="bi bi-speedometer"></i> Medições</button>
						</a>
					</div>

					<div class="form-group col-md-3">


						<button type="button" data-toggle="modal"
							data-target="#modalAgendamento" onclick="loadModal()"
							class="btn btn-primary form-control"><i class="bi bi-calendar-event"></i>
							 Agendar</button>

					</div>
				</div>


			</div>
		</div>
	</div>





	<div class="modal fade" id="modalAgendamento"  tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title ml-5" id="exampleModalLongTitle">Agendamento</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-row ">
							<div class="form-group">

								<label class="col-md-2 form-label" for="diaConsulta">Dia
								</label>
							</div>

							<div class="form-group col-md-5">
								<input id="diaConsulta" class="form-control" type="text">
							</div>

							<div class="form-group col-md-2">
								<button class="btn btn-primary" type="button"
									onclick="agendar()">Agendar Horario</button>
							</div>
							
							
					</form>
																					
					
					<div class="container-fluid">
					<div class="mt-2" id="alertamodal"></div>
					<table id="tabela-agendamento" class="table">
						<thead>
							<th>Data</th>
							<th>Status</th>
						</thead>
						<tbody>
						
						
						</tbody>					
					</table>
					<div id="paginacao-agendamento"></div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JS-->
	<div th:include="parts/scripts"></div>

	<script>
		$(document).ready(
				function() {
					var array = $('#dataDeNascimento').val().split("-");
					if (array.length > 1) {
						$('#dataDeNascimento').val(
								array[2] + "/" + array[1] + "/" + array[0]);

					}

					flatpickr("#dataDeNascimento", {
						dateFormat : "d/m/Y"
					});

					flatpickr("#diaConsulta", {
						enableTime : true,

						dateFormat : "d/m/Y H:i",

						minTime : "08:00",
						maxTime : "17:00",

					});
					proximaConsulta();
					
					if ($("#foto-perfil-preview").attr('src')==''){
						$("#foto-perfil-preview").attr('src','/img/semperfil-foto.png');
						
					}
				});
		
		function pegarImg(){
			var foto=$("#foto")[0].files[0];
			var reader=new FileReader();
			
			reader.onload=function(event){
				var base64String = event.target.result;
				
				
				console.log(base64String);
				$("#foto-perfil-preview").attr('src',base64String);
			};
			
			reader.readAsDataURL(foto);
			
			
			
			
			
		}
		
		
		function proximaConsulta(){
			var paciente=$("#idpaciente").val();
			
			$.get('/consultas/proximaconsulta/'+paciente).done(function(response) {
				console.log(response);
				var consulta=JSON.parse(response);
				console.log(consulta);

				if(consulta===null){
					$("#proximaconsulta").html("Nenhuma consulta marcada.")				

				}else{

					var array=consulta.horario.split(" ");
					var dia=array[0];
					var hora=array[1];
					$("#proximaconsulta").html(dia+" às "+hora)		
				}
					
				
			}).fail(function(xhr) {
				console.log("Erro ao procurar pela proxima consulta=>"+xhr);
				tratarErro(xhr);
			});
		
		}
		function loadModal(){
			todasConsultas();

		}
		
		function agendar() {

			var data = $("#diaConsulta").val();
			var paciente = $("#idpaciente").val();

			if (data.trim() !== '') {

				var consulta = {
					horario : data,
				}
				$.post('/consultas/' + paciente, consulta).done(
						function(response) {
							sucesso("Agendado com sucesso", "alertamodal");
							
							todasConsultas();
						}).fail(function(xhr) {
					tratarErro(xhr,"alertamodal");
				});
			} else {
				alertar("Insira a data.", "alertamodal");

			}
		}

		function editarPaciente() {

			var paciente = {
				id : $("#idpaciente").val(),
				nome : $("#nome").val(),
				foto: $("#foto-perfil-preview").attr('src'),
				endereco : $("#endereco").val(),
				dataDeNascimento : $("#dataDeNascimento").val(),
				telefone : $("#telefone").val(),
				descricao : $("#descricao").val(),
				cpf : $("#cpf").val(),

			}
			console.log(paciente);
			if (paciente.nome.trim() != '' && paciente.telefone.trim() != ''
					&& paciente.cpf.trim() != ''
					&& paciente.endereco.trim() != '') {
				console.log("Fazendo a requisição")
				$.post('/pacientes/crud', paciente).done(function(response) {
					sucesso("Mudanças realizadas");
				}).fail(function(xhr) {
					tratarErro(xhr);
				});
			} else {
				alertar("Preencha todos os campos.")
			}
		}
		
		
		
		function incrementarTabelaAgendamento(dadospagina){
			$("#tabela-agendamento tbody").html("");
			
			if (!dadospagina.empty){
				dadospagina.content.forEach((e)=>{
					var tudo=`<td>${e.horario}</td>`;
					tudo+=`<td>${e.status}</td>`
					
						$("#tabela-agendamento > tbody").append(`<tr>${tudo}</tr>`);
					
				})
				
				
				$("#tabela-agendamento").show();

			}else{
				$("#tabela-agendamento").hide();

			}
		}

		
		function todasConsultas(pagina){
			var parampagina='';
			if (pagina!= undefined){
				
				parampagina="?page="+pagina;
				
			}
			
			var paciente=$("#idpaciente").val();
			
			$.get('/consultas/todas/'+paciente+parampagina).done(function(response) {
				var dadospagina=JSON.parse(response);
				console.log(dadospagina.content);
				
				incrementarTabelaAgendamento(dadospagina)
				paginacao("paginacao-agendamento", dadospagina, "todasConsultas")

			}).fail(function(xhr) {
				console.log("xhr=>"+xhr);
				tratarErro(xhr);
			});
		
		}
		
	</script>
</body>
</html>
